
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* nav */
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #00A3FF;
    opacity: 95%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;


}
.logo h4{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 900;
}

.nav-links{
    display: flex;
}
.nav-links li{
    padding-right: 30px;
    list-style: none;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    #nav{
        display: none;
    }
}

/* home */
#home {
    height: 100vh;
    background-color: #ffffff;
    height: 70%
}

.home-content {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;

}

.white-text {
    color:white;
}

.home-main {
    font-size: 75px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
}

.home-sub{
    font-size: 30px;
    font-weight: 30;
}

.btns{
    margin-top: 60px;
}

.home-btn{
    margin-top: 0px;
    padding: 20px 30px;
    background-color: #FB4939;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    margin: 15px
}

.home-btn:hover{
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .home-content{
        padding:20px;
    }
    .home-main{
        font-size: 40px;
    }
    .home-sub{
        font-size:25px;
    }
    .btns{
        margin-top: 50px;
    }
    .home-btn{
        padding:20px 20px;
        margin: 10px
    }
}



/* simulator */
#code{
    padding: 0 250px 90px 250px;
}

.code-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-heading{
    padding: 12px;
}
.code-subheading{
    padding: 5px;
    font-size: 18px;
}

.code-text{
    padding-top: 40px;
    padding-bottom:10px;
}

@media only screen and (max-width: 600px) {
    #code{
        padding: 10px;
    }

    .code-heading{
        padding:6px;
        font-size: 27px;
    }
    .code-subheading{
        font-size: 15px;
        padding: 7px;
        line-height: 25px;
        text-align: center;
    }
}

/* video */
#video{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.video-heading{
    margin-bottom: 10px;
}

.video{
    width:60%;
    height: 600px;
}

@media only screen and (max-width: 600px) {
    .video-heading{
        margin: 17px;
        margin-top: 40px;
    }
    .video{
        width:90%;
        height: 250px;
    }
}

/* footer */
#footer{
    width: 100%;
    height: 47px;
    background-color: #00A3FF;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}